.typing {
  animation: typewriter 0.5s steps(1, end) infinite;
  overflow: hidden;
  width: 100;
}

@keyframes typewriter {
  0% { width: 50; color: transparent; }
  100% { width: 100%; color: #ff0000; }
}
